<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
</head>
<body>
  <main>
    <%- body %>
  </main>

  <footer>
    <hr />
    <p>&copy; 2026 Mi sitio de ejemplo</p>
  </footer>
</body>
</html>
